*{
    margin :0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #002339;
    color: #fff;

}

.container{
    margin :12%;
    width :70%;
    max-width: 700px;
    border: solid white;
    padding: 20px;
    align-self: center;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 4px 8px;
    border-radius: 5px;
}

#password{
    width: 100%;
    margin:12px;
    font-size: 20px;
    padding-top: 8px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 35px;
}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
#demo{
    font-size: 20px;
    color: #b7ca07;
    margin-top: 5px;
    margin-bottom: 5px;
}
#size{
    size: 20px;
    height: 32px;
    padding: 5px;
    margin-bottom: 18px;
    border-radius: 4px;
}

.container label{
    color:#8fc4e8;
    font-size: 24px;
}

.display img{
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin-top: 16px;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img{
    width: 28px;
    margin-right: 10px;
}

.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
